# Android Studio
/Android/.gradle
/Android/local.properties
/Android/.idea/workspace.xml
/Android/.idea/tasks.xml
/Android/.idea/artifacts
/Android/.idea/caches
/Android/build
/Android/.idea/libraries/*.xml
/Android/.idea/gradle.xml

*.iml

/Android/.idea/libraries
/Android/.idea/modules.xml
/Android/.idea/workspace.xml
/Android/captures
/Android/.externalNativeBuild

/Desktop/config
